name: Deploy to AWS
on:
    push:
        branches: [ main ]
        paths:
          - 'src/**'           # Only run if files in the src folder change
          - 'Dockerfile'       # Or if the Dockerfile itself changes
          - 'requirements.txt' # Or if dependencies change

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3
            
            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-southeast-1
            
            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1
            
            - name: Build, Tag, and Push Image
              env:
                ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                ECR_REPOSITORY: stock-analyst-repo
                IMAGE_TAG: latest
              run: |
                docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
                docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
            
            - name: Update Lambda Function
              run: |
                aws lambda update-function-code \
                    --function-name stock-analyst-function \
                    --image-uri ${{ steps.login-ecr.outputs.registry }}/stock-analyst-repo:latest